PROJECT_NAME=
RESOURCE_GROUP_NAME=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_CHAT_COMPLETION_DEPLOYED_MODEL_NAME=
AZURE_OPENAI_EMBEDDING_DEPLOYED_MODEL_NAME=
AZURE_SEARCH_SERVICE_ENDPOINT=
AZURE_SEARCH_ADMIN_KEY=
BLOB_CONNECTION_STRING=
BLOB_STORAGE_ACCOUNT_KEY=
LLAMA_CLOUD_API_KEY=
SHAREPOINT_DOMAIN=
SHAREPOINT_SITE=
BASE_FOLDER=
LOCAL_BASE_DIR=
SHAREPOINT_FILES_CONTAINER=
METADATA_FILES_CONTAINER=
TENANT_ID= # tenant id used for sharepoint access authentication
CLIENT_ID= # sharepoint client id
CLIENT_SECRET= # sharepoint client secret
DOCUMENT_SUMMARY_DICT_PATH=
DOCUMENT_URL_DICT_PATH=
IMAGES_DIR=
CONCURRENT_UPLOADS=
SIMILARITY_TOP_K=
AUD=
APP_REGISTRATION_CLIENT_ID=
APP_REGISTRATION_CLIENT_SECRET=
APP_REGISTRATION_RESOURCE_SCOPE=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_SUBSCRIPTION_ID=
STORAGE_ACCOUNT_NAME=